name: PR Builder

on:
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: PR Build and Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        language: [ 'go' ]
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25

    - name: Build
      run: go build -v ./...

    - name: Test
      run: |
        go install github.com/boumenot/gocover-cobertura@latest
        go test -coverprofile=coverage.out -covermode=count ./...
        gocover-cobertura < coverage.out > cobertura-coverage.xml

    - name: Code Coverage Summary Report
      if: ${{ false }}
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: cobertura-coverage.xml
        badge: true
        fail_below_min: false
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: '40 80'
        
    - name: Add Coverage PR Comment
      if: ${{ false }}
      uses: marocchino/sticky-pull-request-comment@v2
      with:
        recreate: true
        path: code-coverage-results.md